.about-container {
    background-image: url('../assets/full-time-jobs-background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 50px 20px; 
    min-height: 100vh; 
    background-color: #f9f3c1; 
}

.hero-section,
.mission-section,
.team-section,
.about-contact-information {
    color: #c5b3c3;
    text-align: center;
    margin-bottom: 50px;
    position: relative; 
}

.hero-section h1,
.mission-section h2,
.team-section h2,
.about-contact-information h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #6a1b9a;
    animation: float 3s ease-in-out infinite; 
}

.hero-section p,
.mission-section p,
.team-section p,
.about-contact-information p {
    font-size: 1em;
    color: #c5b3c3;
    animation: float 3s ease-in-out infinite; 
}

.team-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.team-card {
    background: rgba(122, 108, 132, 0.8);
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    max-width: 200px; 
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: float 3s ease-in-out infinite; 
}
.team-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.team-member-photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.team-member-name {
    font-size: 1.2em;
    margin: 10px 0;
}

.team-member-role {
    color: #694381;
}

.contact-section{
    color:#bca2cc;
}

.about-contact-information a {
    color: #bca2cc; 
    text-decoration: none; 
}

.about-contact-information a:hover {
    text-decoration: underline; 
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}
