.login-options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #fff8e1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: #a73f7d;
}

.login-options-title {
    font-size: 2.5em;
    color: #694381;
    margin-bottom: 40px;
}

.login-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-button {
    background-color: #694381;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.auth-button:hover {
    background-color: #a73f7d; 
    transform: translateY(-2px); 
}

.auth-button:active {
    background-color: #a73f7d; 
    transform: translateY(0); 
}

.auth-button.applicant-login {
    background-color: #FF5722;
}

.auth-button.recruiter-login {
    background-color: #2196F3; 
}

.auth-button.applicant-signup {
    background-color: #FF5722; 
}

.auth-button.recruiter-signup {
    background-color: #2196F3; 
}
.login-options-container {
    background-image: url('../assets/full-time-jobs-background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
