/* styles/navbar.css */

.navbar {
    background-color: #4f5b8e;
    padding: 10px 20px;
    color: #fff;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo-image {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.5em;
    margin-right: 20px;
}

.navbar-separator {
    flex-grow: 1;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin-left: 90%;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
}

.navbar-link:hover {
    text-decoration: underline;
}

.navbar-dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-menu .dropdown-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #6b5bbe;
}

.dropdown-menu .dropdown-link:hover {
    background-color: #f1f1f1;
}

.navbar-dropdown:hover .dropdown-menu {
    display: block;
}
